/* タブレット用のCSS */
@media only screen and (min-width: 768px) and (max-width: 1080px) {

  /* ヘッダーのハンバーガーメニューボタン */
  .Hamburger-Button {
    position: relative;
    display: block;
    color: #A2A2A4;
    width: 24px;
    height: 20px;
    border: none;
    cursor: pointer;
    margin: auto;
  }

  .Hamburger-Lines {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    height: 100%;
  }

  .Hamburger-Oneline {
    width: 100%;
    background-color: #A2A2A4;
    border-radius: 15px;
    display: block;
    height: 2px;
  }

  /* ヘッダーのナビゲーションメニュー */
  .Nav-List {
    display: none; 
  }

  /* ファーストビュー */
  .FirstView-Container {
    max-width: none;
    padding-left: 36px;
    padding-right: 36px;
  }

  .FirstView-Badge-Image {
    position: absolute;
    top: 105px;
    left: 530px;
  }
  
  .SP-Whole-Visual-Image {
  display: none;
  }
  
.PC-Left-Rectangle-Image {
  position: absolute; 
  top: -80px; 
}

.PC-Fill-rectangle-Image {
  position: absolute;
  top: 85px;
  left: -80px;
}

  .PC-MainVisual-Image {
    position: absolute;
    top: -80px;
  }

  .PC-Right-Rectangle-Image {
  position: absolute;
  right: 0px;
  bottom: 10px;
  } 

}

/* スマホ版用CSS */

@media only screen and (max-width: 767px) 
{

  .Title-Logo-PC {
    display: none;
  }

  .Title-Logo-SP {
    display: flex;
  }

  .Header-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0px 16px 0px 16px;
  }

  .Header-Nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: auto;
  }

  .Hamburger-Button {
  margin: 0 !important;
  position: relative;
  display: block;
  color: #A2A2A4;
  width: 24px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.Hamburger-Lines {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  height: 18.5px;
  width: 24px;
  margin: auto;
}

.Hamburger-Oneline {
  width: 100%;
  background-color: #A2A2A4;
  border-radius: 15px;
  display: block;
  height: 2px;
}

  .Nav-List {
    display: none; 
  }

  .FirstView {
    position: relative;
    height: auto;
    width: 100%;
  }

  .PC-Left-Rectangle-Image  {
    display: none;
  }

  .PC-Fill-rectangle-Image {
    display: none;
  }

  .PC-MainVisual-Image {
    display: none;
  }

  .PC-Right-Rectangle-Image {
    display: none;
  }

  .SP-Whole-Visual-Image {
    display: block;
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 7px;
  }

  .FirstView {
    position: static !important;
    width: 100%;
    height: auto;
  }

  .FirstView-Container {
    position: static !important;
    width: auto;
    padding: 0 20px 16px;
    margin: 0;
    max-width: none;
    top: 480px;
  }

  .FirstView-Badge-Image {
    position: absolute !important;
    top: clamp(0px, 70vw, 540px);
    left: 220px;
    width: 102px;
    height: 102px;
    transform: none;
    z-index: 2;
  }

  .FirstView-Message {
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 16px;
  }


.FirstView-Message span:last-child {
  padding-bottom: 0px;
}

    .FirstView-Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: clamp(280px, 91.5vw, 480px);
    height: clamp(56px, 17vw, 64px);
    margin: 0 auto 16px;
    font-size: clamp(14px, 4vw, 16px);
    white-space: nowrap;
  }

  .Survey-Basis {
    margin-top: 0;
  }
}

@media only screen and (max-width: 414px) {
  .Page-Header {
    height: 48px;
  }

  .Header-Container {
    height: 100%;
  }

  .Hamburger-Lines {
    height: 14px;
    width: 18px;
  }
}

